{
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    ".cache",
    ".marko-cli",
    "**/test",
    "**/mock",
    "demo",
    "**/*.marko.js",
    "src/common/test-utils"
  ],
  "sourceMap": true,
  "instrument": true,
  "report-dir": "./.coverage",
  "all": true,
  "reporter": [
     "lcov"
   ]
}
